<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header.ejs') %>

    <body>
        <%- include ('./partials/nav.ejs') %>

            <div class="about-content">
                <h2>About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa eos beatae ducimus blanditiis. Ad,
                    repellat. Delectus amet, sit unde, vero corrupti maxime cumque recusandae fugit praesentium neque
                    nam ipsa, blanditiis iste sequi rem beatae?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, soluta totam, perspiciatis
                    accusantium voluptatem repellat nobis alias impedit molestiae enim iure, nesciunt fugit esse saepe
                    corporis facilis recusandae voluptate. Debitis at impedit dolor sint!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, soluta totam, perspiciatis
                        accusantium voluptatem repellat nobis alias impedit molestiae enim iure, nesciunt fugit esse saepe
                        corporis facilis recusandae voluptate. Debitis at impedit dolor sint!</p>
            </div>


    </body>

</html>