<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>
<body>
   <%- include ('./partials/nav.ejs') %>

    <div class="blogs-content">
        <h2>All Blogs</h2>
        <% if(Blogs.length > 0) { %>
          <% Blogs.forEach(blog =>{ %>
              <h3><%= blog.title %></h3>
              <p><%= blog.snippet %></p>
         <% }) %>
        <% } else { %>
            <p>There is no blogs to display...</p>
        <%}%>
    </div>

    
</body>
</html>